#page .js-order-start {
    padding: 0;
    width: 100%;
}
#page .js-order-start.active span::before,
#page .js-order-start:hover span::before {
    border-color: #ff471a;
}
#page .js-order-start:active {
    color: #ff471a;
    background: #fff;
    box-shadow: none;
    box-shadow: 0 0 13px #999 inset;
}
#page .js-order-start.active:hover {
    color: ffffff;
    box-shadow: none;
}
#page .js-order-start.active:hover span {
    text-decoration: none;
    color: #ffffff;
}

.m-header .filter {
    color: #ff471a;
    line-height: 1.5;
    margin-right: 3px;
}
.m-header .filter.color-silver {
    color: #9f9f9f;
    text-decoration: none;
    cursor: default;
}

#page .news-item .params-banner-top a,
#button-box .params-banner-top a {
    white-space: nowrap;
    margin-top: 10px;
    text-decoration: none;
    line-height: 22px;
}

#page .news-item .params-banner-top a:hover,
#button-box .params-banner-top a:hover {
    border-bottom: none;
}

#page .news-item .params-banner,
#button-box .params-banner {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

#page .news-item .color-silver,
#button-box .color-silver {
    color: #9f9f9f;
    cursor: pointer;
    border-bottom: 1px dashed #9f9f9f;
    margin-right: 15px;
}
#button-box .color-silver {
    line-height: 1.7;
    text-decoration: none;
    color: #7f7f7f;
    border-bottom: 1px dashed #7f7f7f;
    white-space: nowrap;
}
#button-box .color-silver:hover {
    border-bottom: none;
}
#page .error-start-stop {
    color: red;
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
    display: none;
}

#page .textarea .fast-touch {
    color: #9f9f9f;
    cursor: pointer;
    margin-right: 10px;
}

/* Поиск */
.st-content-users form .button-filed .full {
    display: block;
}

.st-content-users form .button-filed .short {
    display: none;
}

.st-content-users form .button-filed button {
    padding: 0;
}

#page .search-result {
    margin: 0 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

#page .search-result .result-left {
    order: -1;
}

#page .search-result .result-right {
    order: 1;
}

#page .display-name {
    color: #000 !important;
    cursor: pointer;
    text-decoration-color: #ff471a;
}
#page .display-name span {
    color: #ff471a;
}

#page .name-text {
    color: #000 !important;
    cursor: pointer;
    text-decoration-color: #ff471a;
}
#page .name-text span {
    color: #ff471a;
}

/* Форма поиска */

#form-search-avatar .profile-avatar {
    width: auto;
    height: auto;
}

.auto-complit .item {
    height: 38px;
}
.auto-complit .item div {
    display: inline-block;
}
.auto-complit .item .user img {
    border: 1px solid #ff5b32;
}
.auto-complit .item .teacher img {
    border: 2px solid #ff5b32;
}
.auto-complit .item div.name {
    margin-left: 10px;
    position: relative;
    top: -4px;
}
.auto-complit .item div.book {
    position: relative;
    top: 5px;
    float: right;
    border-bottom: 1px dashed #9f9f9f;
    color: #9f9f9f;
}
.auto-complit .item div.book.hide {
    display: none;
}

.chat-left, #chat .chat-right {
    margin: 15px 0 10px 0;
}
.chat-left {
    text-align: left;
}
.chat-right {
    text-align: right;
}
.chat-left .message_chat_wrapper img.avatar_chat,
.chat-right .message_chat_wrapper img.avatar_chat {
    border-radius: 50%;
    border: 1px solid #ff471a;
    display: inline-block;
    vertical-align: top;
    width: 22px;
    height: 22px;
}
.chat-left .message_chat_wrapper img.avatar_duz {
    position: relative;
    right: -6px;
    top: 12px;
    vertical-align: top;
}
.chat-right .message_chat_wrapper img.avatar_duz {
    position: relative;
    right: 6px;
    top: 12px;
    vertical-align: top;
}
.message_chat {
    border-radius: 4px;
    padding: 10px 15px;
    display: inline-block;
    max-width: 75%;
    text-align: left;
}
.message_chat_user {
    margin-bottom: 7px;
}
.chat-left .message_chat {
    border: 1px solid #4b4b4b;
    background-color: #fbfbfb;
    margin-left: 5px;
    cursor: pointer;
    word-wrap: break-word;
}
.chat-right .message_chat {
    border: 1px solid #ff471a;
    background-color: #fbfbfb;
    margin-right: 5px;
    cursor: pointer;
    word-wrap: break-word;
}
.chat-left .message_chat_user a {
    color: #000 !important;
    cursor: pointer;
    text-decoration-color: #ff471a;
}
.chat-left .message_chat_user span {
    color: #ff471a;
}
.chat-left .message_chat_user a {
    text-decoration: none;
    border-bottom: 1px dashed #fff;
    font-family: Verdana, "sans-serif";
    cursor: pointer;
    color: #4b4b4b;
    margin-left: 40px;
}
.chat-right .message_chat_user a {
    text-decoration: none;
    border-bottom: 1px dashed #fff;
    font-family: Verdana, "sans-serif";
    cursor: pointer;
    color: #ff471a;
}
.chat-left .message_chat_user a:hover {
    border-color: #4b4b4b;
}
.chat-right .message_chat_user a:hover {
    border-color: #ff471a;
}
.message_chat_user span {
    font-size: 14px;
    color: gray;
}
.chat-right .message_chat_user span {
    margin-right: 40px;
}

.del-mes-right,
.del-mes-left {
    position: absolute;
    font-size: 12px;
    border-bottom: 1px dotted gray;
    color: gray;
    cursor: pointer;
    display: none;
}

.del-mes-right:hover,
.del-mes-left:hover {
    border-bottom: 1px dotted #ff471a;
    color: #ff471a;
}

#page .input-add {
    display: inline-block;
    width: 110px;
    color: black;
}

@media screen and (max-width: 540px) {
    .st-content-users form .search-filed {
        width: 75%;
    }

    .st-content-users form .button-filed {
        width: 25%;
    }

    .st-content-users form .button-filed .full {
        display: none;
    }

    .st-content-users form .button-filed .short {
        display: block;
    }

    .st-content-users .filter-search .filter {
        display: block;
        margin-right: 0;
    }

    .st-content-users .filter-search .filter .bulet {
        top: 4px;
        right: 4px;
    }
}